<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SingleCellDB</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <style></style>
  </head>
  <body>
    <div class="container mt-2">
      <button type="button" class="btn btn-primary" id="downloadBtn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-0-circle"
          viewBox="0 0 16 18"
        >
          <path
            d="M7.988 12.158c-1.851 0-2.941-1.57-2.941-3.99V7.84c0-2.408 1.101-3.996 2.965-3.996 1.857 0 2.935 1.57 2.935 3.996v.328c0 2.408-1.101 3.99-2.959 3.99ZM8 4.951c-1.008 0-1.629 1.09-1.629 2.895v.31c0 1.81.627 2.895 1.629 2.895s1.623-1.09 1.623-2.895v-.31c0-1.8-.621-2.895-1.623-2.895Z"
          />
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"
          />
        </svg>
        Download
      </button>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"
  ></script>
  <script>
    // 获取按钮元素
    var downloadButton = document.getElementById("downloadBtn");

    // 添加点击事件处理程序
    downloadButton.addEventListener("click", function () {
      // 创建一个 <a> 元素
      var link = document.createElement("a");

      // 设置下载链接和文件名
      link.href = "http://127.0.0.1:8000/api/photo/Docker.png"; // 替换为你要下载的文件的路径
      link.download = "Docker.png"; // 替换为你要设置的文件名

      // 模拟点击下载链接
      link.click();
    });
  </script>
  <!-- 也可以用视图函数处理 -->
  <button
    type="button"
    class="btn btn-primary"
    onclick="downloadFile()"
  ></button>
  <!-- <script>
    function downloadFile() {
      // 发送 GET 请求到视图函数的 URL
      window.location.href = "{% url 'api:api-download' %}";
    }
  </script> -->
</html>
