{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    {% block styles %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'celldb/css/bootstrap.min.css' %}"
    />
    {% endblock %} {% block customstyles %}{% endblock %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'celldb/css/main.css' %}"
    />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>SingleCellDB</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'celldb-home' %}"
            >SingleCellDB</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'celldb-overview' %}"
                >Overview</a
              >
              <a class="nav-item nav-link" href="{% url 'celldb-download' %}"
                >Download</a
              >
              <a class="nav-item nav-link" href="{% url 'celldb-upload' %}"
                >Upload</a
              >
              <div class="nav-item dropdown">
                <a
                  class="nav-item nav-link dropdown-toggle"
                  href="{% url 'celldb-plot' %}"
                  id="plotDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Plot
                </a>
                <div class="dropdown-menu dropdown-menu-center">
                  <a class="dropdown-item" href="{% url 'celldb-plot' %}"
                    >Plot using echarts</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'celldb-plot-r' %}"
                    >Plot using R</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'celldb-plot-local' %}"
                    >Plot in local</a
                  >
                </div>
              </div>
              <a class="nav-item nav-link" href="{% url 'celldb-analyse' %}"
                >Analyse</a
              >
              <!-- <a class="nav-item nav-link" href="{% url 'celldb-runcode' %}"
                >RunCode</a
              > -->
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/admin/">Login</a>
              <a class="nav-item nav-link" href="#">Register</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    {% block customlayout %} {% if not customlayout %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">{% block content %}{% endblock %}</div>
      </div>
    </main>
    {% endif %} {% endblock %}

    <!-- footer -->
    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="{% url 'celldb-home' %}" class="nav-link px-2 text-muted"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              href="{% url 'api:api-upload' %}"
              class="nav-link px-2 text-muted"
              >API</a
            >
          </li>
          <li class="nav-item">
            <a
              href="https://github.com/bioinfotec/SingleCellDB"
              class="nav-link px-2 text-muted"
              >GitHub</a
            >
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">FAQs</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">About</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'celldb-test' %}" class="nav-link px-2 text-muted"
              >Test</a
            >
          </li>
        </ul>
        <p class="text-center text-muted">© 2023 SingleCellDB</p>
      </footer>
    </div>

    {% block scripts %}
    <!-- <script src="{% static 'celldb/js/jquery-3.2.1.slim.min.js' %}"></script> -->
    <script src="{% static 'celldb/js/jquery-3.7.0-.min.js' %}"></script>
    <script src="{% static 'celldb/js/popper.min.js' %}"></script>
    <script src="{% static 'celldb/js/bootstrap.min.js' %}"></script>
    {% endblock %}<!-- 样式控制 -->
    <script>
      $(document).ready(function () {
        // 在鼠标悬停时展开下拉菜单
        $(".nav-item.dropdown").hover(
          function () {
            $(this).addClass("show");
            $(this).find(".dropdown-menu").addClass("show");
          },
          function () {
            $(this).removeClass("show");
            $(this).find(".dropdown-menu").removeClass("show");
          }
        );
        // 导航栏状态
        var currentPath = window.location.pathname;
        $(".nav-item.nav-link").each(function () {
          if ($(this).attr("href") === currentPath) {
            $(this).addClass("active");
          }
        });
      });
    </script>
    {% block customscripts %}{% endblock %}
  </body>
</html>
