{% extends 'celldb/base.html' %} {% load static %} {% block customstyles %}
<style>
  /* 搜索补全的样式设置 */
  .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 4px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
  }

  .ui-autocomplete .ui-menu-item {
    clear: both;
    width: 100%;
    padding: 3px 20px;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    background-color: #fff;
    cursor: pointer;
  }

  .ui-autocomplete .ui-menu-item:hover {
    background-color: #f0f0f0;
  }
  .ui-helper-hidden-accessible {
    display: none !important;
  }
</style>
<link
  href="{% static 'celldb/css/datatables_1.13.4.bootstrap5.min.css' %}"
  rel="stylesheet"
/>

{% endblock %} {% block customlayout %}

<div class="container-fluid justify-content-center">
  <div class="row">
    <!--侧边栏 -->
    <div class="card col-md-2 mx-4">
      <div class="mt-2 row">
        <div class="col">
          <h3 class="text-center">Filter DataSet</h3>
        </div>
      </div>
      <hr />
      <div class="mt-2 row my-2">
        <div class="col">
          <div class="input-group d-flex flex-nowrap">
            <label for="SelectPMID" class="mx-2 input-group-text">PMID</label>
            <select
              class="form-select form-select-sm"
              id="SelectPMID"
              style="width: 75%"
            >
              <option value="" selected>Choose</option>
              {% for pmid in pmids %}
              <option value="{{pmid}}">{{pmid}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="mt-2 row my-2">
        <div class="col">
          <div class="input-group d-flex flex-nowrap">
            <label for="SelectSpecies" class="mx-2 input-group-text"
              >Species</label
            >
            <select id="SelectSpecies" class="form-select" style="width: 100%">
              <option value="" selected>Choose</option>
              <option value="human">Human</option>
              <option value="mouse">Mouse</option>
            </select>
          </div>
        </div>
      </div>
      <div class="mt-2 row my-2">
        <div class="col">
          <div class="input-group d-flex flex-nowrap">
            <label for="SelectCellType" class="mx-2 input-group-text"
              >Cell tpye</label
            >
            <select id="SelectCellType" class="form-select" style="width: 100%">
              <option selected value="">Choose</option>
              {% for cell_type in cell_types %}
              <option value="{{cell_type}}">{{cell_type}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="mt-2 row my-2">
        <div class="col">
          <div class="input-group d-flex flex-nowrap">
            <label for="SelectGene" class="mx-2 input-group-text">Gene</label>
            <input
              type="text"
              id="SelectGene"
              class="form-control"
              placeholder="Enter Gene name"
            />
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col">
          <button type="button" id="FilterDataSet" class="btn btn-primary">
            Search Data
          </button>
        </div>
      </div>
    </div>

    <!-- 表格数据 -->
    <div class="card col-md-8 mx-2">
      <div class="card-body">
        <div class="row">
          <div class="table-responsive">
            <table
              id="table_Dataset"
              class="table table-hover table-str"
              style="width: 100%; border-collapse: collapse; font-size: 14px"
            >
              <thead>
                <tr>
                  <th>PMID</th>
                  <th>Species</th>
                  <th>Cell_Type</th>
                  <th>Gene</th>
                  <th>DataSet</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block customscripts %}
<script src="{% static 'celldb/js/datatables_1.13.4_js_jquery.min.js' %}"></script>
<script src="{% static 'celldb/js/datatables_1.13.4.bootstrap5.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
  // 表格加载函数

  $(document).ready(function () {
    // 更新侧边栏
    function updateSidebar() {
      var pmid = $("#SelectPMID").val();
      console.log(pmid);
      if (pmid != "") {
        fetch(`/api-v2/literature-dataset/?pmid=${pmid}`)
          .then((response) => response.json())
          .then((data) => {
            var species = data[0].dataset_info_set[0].species_name;
            var cell_types = data[0].dataset_info_set[0].cell_types.split(",");
            if (species != null) {
              $("#SelectSpecies").val(`${species}`);
            }
            // 清空SelectCellType下拉框并循环遍历cell_types
            $("#SelectCellType").empty();
            $("#SelectCellType").append(
              `<option value="" selected>Choose</option>`
            );
            cell_types.forEach((cell_type) => {
              $("#SelectCellType").append(
                `<option value="${cell_type}">${cell_type}</option>`
              );
            });
          });
      }
    }
    // 初始化表格
    function initializeDataTable(url, cell_type = "") {
      var columnsCelltype;
      if (cell_type != "") {
        columnsCelltype = {
          data: "gene_expression_set",
          orderable: false,
          searchable: false,
          render: function (data) {
            var cell_types = data.map(function (gene_expression_set) {
              return gene_expression_set.cell_types;
            });
            return '<span class="badge bg-primary">' + cell_types + "</span>";
          },
        };
      } else {
        columnsCelltype = {
          data: "cell_types",
          orderable: false,
          searchable: false,
          render: function (data) {
            if (data == null) {
              return "";
            }
            var cellTypeArray = data.split(",");
            var maxCellTypesPerRow = 2;
            var groupedCellTypes = [];
            for (var i = 0; i < cellTypeArray.length; i += maxCellTypesPerRow) {
              var group = cellTypeArray.slice(i, i + maxCellTypesPerRow);
              var formattedGroup = group.map(function (cellType) {
                return '<span class="badge bg-primary">' + cellType + "</span>";
              });
              groupedCellTypes.push(formattedGroup.join(" "));
            }
            var formattedCellTypes = groupedCellTypes.join("<br>");
            return formattedCellTypes;
          },
        };
      }
      var table = $("#table_Dataset").DataTable({
        ajax: {
          url: url,
          dataSrc: "data",
        },
        columns: [
          {
            data: "literature",
            orderable: false,
            searchable: false,
            render: function (data) {
              var pmids = data.map(function (literature) {
                return literature.pmid;
              });
              return pmids;
            },
          },
          {
            data: "species_name",
            orderable: false,
            searchable: true,
          },
          columnsCelltype,
          {
            data: "gene_expression_set",
            orderable: false,
            searchable: false,
            render: function (data) {
              if (!data || data.length === 0 || !data[0].gene_name) {
                return "ALL";
              }
              var geneRows = data.map(function (gene_expression_set) {
                return (
                  "<tr><td>" + gene_expression_set.gene_name + "</td></tr>"
                );
              });

              var geneTable = "<table>" + geneRows.join("") + "</table>";
              return geneTable;
            },
          },
          {
            data: "dataset_id",
            orderable: false,
            searchable: true,
          },
        ],
        processing: true,
        paging: true,
        deferRender: true,
        order: [],

        language: {
          sortAscending: '<i class="fas fa-sort-up"></i>',
          sortDescending: '<i class="fas fa-sort-down"></i>',
        },
      });
    }

    var urlParams = $(location).attr("href");
    url = "/api-v2/dataset-literature-gene/";
    if (urlParams.indexOf("?") !== -1) {
      pmidParam = urlParams.split("?")[1].split("=")[1];
      url = url + "?pmid=" + pmidParam;
      $("#SelectPMID").val(pmidParam);
    }
    initializeDataTable(url);
    updateSidebar();
    var genes = ["CD4", "TP53", "CD8A", "CD8B", "CD3E", "CD3D", "CD3G"];
    fetch("/api-v2/gene-expression/")
      .then((response) => response.json())
      .then((data) => {
        genes = data.map((gene) => gene.gene_name);
      });
    // 基因名称补全
    $("#SelectGene").autocomplete({
      source: function (request, response) {
        var term = request.term;
        if (term.length < 2) {
          response([]); // 返回一个空数组，表示没有匹配的结果
          return;
        }
        var matcher = new RegExp(
          "^" + $.ui.autocomplete.escapeRegex(request.term),
          "i"
        );
        var matchedResults = $.grep(genes, function (value) {
          return matcher.test(value);
        });
        // 返回最多前200条匹配的结果
        var slicedResults = matchedResults.slice(0, 200);
        var responseResults =
          slicedResults.length < matchedResults.length
            ? [
                ...slicedResults,
                `...${matchedResults.length - slicedResults.length} more...`,
              ]
            : slicedResults;
        response(responseResults);
      },
      open: function (event, ui) {
        // 添加滚动条选项
        var $ul = $(this).autocomplete("widget");
        $ul.css("overflow-y", "auto");
        $ul.css("max-height", "300px"); // 设置最大高度，这里可以根据需要进行调整
      },
    });

    // 处理PMID更改事件
    $("#SelectPMID").on("change", function () {
      updateSidebar();
    });
    // 添加按钮点击事件处理函数
    $("#downloadBtn").click(function () {
      // 获取当前表格中的数据
      var table = $("#table_Feature").DataTable();
      var filteredData = table
        .rows({
          search: "applied",
        })
        .data()
        .toArray();

      // 执行下载操作，可以根据需要自定义实现
      downloadData(filteredData);
    });

    // 处理绘图事件
    // 获取选择框和按钮的元素
    //var cellTypeFilter = $("#cellTypeFilter");
    //var plotButton = $("#Plot");

    //// 添加点击事件处理程序
    //plotButton.on("click", function () {
    //  // 获取选择框的值
    //  var selectedCellType = cellTypeFilter.val();
    //  window.location.href = "/plot";
    //});
  });

  // 过滤数据集
  $("#FilterDataSet").on("click", function () {
    var table = $("#table_Dataset").DataTable();
    pmid = $("#SelectPMID").val();
    species_name = $("#SelectSpecies").val();
    cell_type = $("#SelectCellType").val();
    gene_name = $("#SelectGene").val();
    var url = "/api-v2/dataset-literature-gene/?";
    if (pmid != "") {
      url += "pmid=" + pmid + "&";
    }
    if (species_name != "") {
      url += "species_name=" + species_name + "&";
    }
    if (cell_type != "") {
      url += "cell_type=" + cell_type + "&";
    }
    if (gene_name != "") {
      url += "gene_name=" + gene_name + "&";
    }
    table.ajax.url(url).load();
  });

  // 处理基因搜索
  $("#FilterGene").on("click", function () {
    window.location.href = "/browse-expression";
  });

  // 下载数据的函数
  function downloadData(data) {
    // 将数据转换为文本格式
    var textData = JSON.stringify(data);
    // 转化为csv格式
    var csv =
      "data_id,cell_barcode,cell_type,zone,run_id,time_point,umap_x,umap_y\n";
    var csvRows = data.map(function (row) {
      return [
        row.data_id,
        row.cell_barcode,
        row.cell_type,
        row.zone,
        row.run_id,
        row.time_point,
        row.umap_x,
        row.umap_y,
      ].join(",");
    });
    csv += csvRows.join("\n");
    var blob = new Blob([csv], {
      type: "text/csv;charset=utf-8;",
    });
    // 创建一个 <a> 元素
    var link = document.createElement("a");
    link.setAttribute("href", URL.createObjectURL(blob));
    link.setAttribute("download", "data.csv");

    // 模拟点击下载链接
    link.click();
  }
</script>
{% endblock %}
