{% extends 'celldb/base.html' %}{% load static %} {% block customstyles%}
<style>
  .textbox {
    background-color: #f8f9fa; /* 设置背景色 */
    border: 1px solid #ced4da; /* 设置边框 */
    padding: 10px; /* 设置内边距 */
    margin-top: 10px; /* 设置上方间距 */
    margin-bottom: 10px; /* 设置上方间距 */
  }
</style>
{%endblock%} {% block customlayout %}
<div class="container-fluid">
  <div class="row">
    <!-- 侧边栏 -->
    <div class="col-md-2 mx-4">
      <div class="content-section">
        <h5>Data Summary</h5>
        <div class="textbox">
          <p>About data...</p>
        </div>
        <button
          id="addData"
          class="ms-6 btn btn-primary mb-2"
          data-bs-toggle="modal"
          data-bs-target="#addDataModal"
        >
          Button1
        </button>
        <button
          id="chanegData"
          class="ms-6 btn btn-primary mb-2"
          data-bs-toggle="modal"
          data-bs-target="#changeDataModal"
        >
          Button2
        </button>
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">Option1</li>
          <li class="list-group-item list-group-item-light">Option2</li>
          <li class="list-group-item list-group-item-light">Option3</li>
          <li class="list-group-item list-group-item-light">Option4</li>
        </ul>
      </div>
    </div>
    <!-- 表格 -->
    <div
      class="table-responsive col-md-10"
      style="max-height: 800px; max-width: 75vw; overflow-y: scroll"
    >
      <table class="table table-striped table-bordered" style="width: 100%">
        <thead>
          <tr>
            <th>PMID</th>
            <th>Title</th>
            <th>Abstract</th>
            <th>&nbsp;&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {% for item in liter %}
          <tr>
            <td style="cursor: pointer">
              <a
                href="https://pubmed.ncbi.nlm.nih.gov/{{item.Liter_pmid}}/"
                target="_blank"
              >
                {{ item.Liter_pmid }}
              </a>
            </td>
            <td style="cursor: pointer">
              <span
                class="d-inline-block text-truncate"
                style="max-width: 350px"
                data-bs-toggle="modal"
                data-bs-target="#literModal"
                data-pmid="{{ item.Liter_pmid }}"
                data-title="{{ item.Liter_title }}"
                data-abstract="{{ item.Liter_abstract }}"
                data-publication="{{ item.Liter_publication }}"
                data-content="{{ item.Liter_content }}"
                data-dataset="{{ item.Liter_data }}"
                data-sampleInfo="{{ item.Sample_info }}"
                data-abstract="{{ item.Liter_abstract }}"
              >
                {{ item.Liter_title }}
              </span>
            </td>
            <td>
              <span
                class="d-inline-block text-truncate"
                style="max-width: 350px"
                data-bs-toggle="tooltip"
                data-placement="top"
                title="{{ item.Liter_abstract }}"
              >
                {{ item.Liter_abstract }}
              </span>
            </td>
            <td>
              <button
                type="button"
                value="{{item.Liter_pmid}}"
                class="btn btn-primary btn-brwose-data"
              >
                Browse
              </button>
              <button
                type="button"
                value="{{item.Liter_pmid}}"
                class="btn btn-success btn-plot-data"
              >
                Plot
              </button>
              <button
                type="button"
                value="{{item.Liter_pmid}}"
                class="btn btn-warning btn-analyse-data"
              >
                Analyse
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- 模态框 表格详情-->
<div
  class="modal fade"
  id="literModal"
  tabindex="-1"
  data-bs-backdrop="static"
  role="dialog"
  aria-labelledby="literModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="literModalLabel">Literature Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- 这里显示详细信息 -->
        <ul class="list-group">
          <li class="list-group-item" id="literPublication">An item</li>
          <li class="list-group-item" id="literContent">A second item</li>
          <li class="list-group-item" id="literDataset">A third item</li>
        </ul>
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title">Abstract</h5>
            <p class="card-text" id="literDetails">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="deleteLiterature">
          Delete
        </button>
        <button type="button" class="btn btn-primary" id="updateLiterature">
          Update
        </button>
      </div>
    </div>
  </div>
</div>

<!--增加数据模态框-->
<div
  class="modal fade"
  id="addDataModal"
  tabindex="-1"
  data-bs-backdrop="static"
  role="dialog"
  aria-labelledby="addDataModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDataModalLabel">Add Data</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="addDataForm">
          <div class="form-group">
            <label for="liter_pmid">Literature PMID</label>
            <input
              type="text"
              class="form-control"
              id="liter_pmid"
              name="liter_pmid"
            />
          </div>
          <div class="form-group">
            <label for="liter_title">Literature Title</label>
            <input
              type="text"
              class="form-control"
              id="liter_title"
              name="liter_title"
            />
          </div>
          <!-- 添加其他字段的表单元素 -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary" onclick="addData()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 删除后的通知
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div
        id="deleteAlert"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-autohide="true"
        data-delay="3000"
      >
        <div class="toast-header">
          <strong class="mr-auto">记录已删除</strong>
          <button
            type="button"
            class="ml-2 mb-1 close"
            data-bs-dismiss="toast"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">记录已成功删除！</div>
      </div>
    </div>
  </div>
</div> -->
{% endblock %} {% block customscripts %}

<!-- 查看模态框数据 -->
<script>
  $(document).ready(function () {
    $("#literModal").on("show.bs.modal", function (event) {
      var triggerElement = $(event.relatedTarget);
      var pmid = triggerElement.data("id");
      var title = triggerElement.data("title");
      var abstract = triggerElement.data("abstract");
      var publication = triggerElement.data("publication");
      var content = triggerElement.data("content");
      var dataset = triggerElement.data("dataset");
      var modal = $(this);
      modal.find(".modal-title").text(title);
      modal.find("#literDetails").text(abstract);
      modal.find("#literPublication").text("publiction: " + publication);
      modal.find("#literContent").text("Content: " + content);
      modal.find("#literDataset").text("Dataset: " + dataset);
    });
    // 为删除按钮绑定点击事件
    $("#deleteLiterature").on("click", function () {
      if (confirm("确定删除这条记录吗？")) {
        $.ajax({
          url: "api/liter/" + id + "/",
          type: "DELETE",
          success: function (response) {
            // 删除成功后执行的操作
            // $("#deleteAlert").toast("show"); // 通知
            $("#literModal").modal("hide"); // 关闭模态框
            location.reload(); // 刷新页面
          },
          error: function (error) {
            // 处理删除请求失败的情况
            console.error("删除记录时发生错误");
            // 显示错误消息或执行其他操作...
          },
        });
      }
    });

    // 为更新按钮绑定点击事件
    $("#updateLiterature").on("click", function () {
      // 执行更新操作
      // 可以通过AJAX请求将更新请求发送到后端
      // 这里仅作为示例，弹出警告框进行确认
      if (confirm("确定更新这条记录吗？")) {
        // 执行更新操作的代码
        // ...
        // 关闭模态框
        $("#literModal").modal("hide");
      }
    });
  });

  // 添加数据
  function addData() {
    var form = $("#addDataForm");
    var url = "api/liter/"; // 替换为Django视图URL
    var liter_pmid = $("#liter_pmid").val();
    var liter_title = $("#liter_title").val();
    var data = {
      Liter_pmid: liter_pmid,
      Liter_title: liter_title,
      // Add other fields as needed
    };
    $.ajax({
      type: "POST",
      url: url,
      data: JSON.stringify(data),
      contentType: "application/json",
      success: function (response) {
        $("#addDataModal").modal("hide");
        location.reload(); // 示例：刷新页面
      },
      error: function (xhr, status, error) {
        // 处理错误响应
        console.log(error);
      },
    });
  }

  // 切换到Browse页面
  $(".btn-brwose-data").click(function () {
    var pmid = $(this).val();
    // 构造目标页面的 URL，将 pmid 作为查询参数传递
    var url = "/browse-feature/?pmid=" + encodeURIComponent(pmid);
    // 执行页面跳转
    window.location.href = url;
  });

  // 切换到Plot页面
  $(".btn-plot-data").click(function () {
    var pmid = $(this).val();
    // 构造目标页面的 URL，将 pmid 作为查询参数传递
    var url = "/plot/?pmid=" + encodeURIComponent(pmid);
    // 执行页面跳转
    window.location.href = url;
  });

  // 切换到Analyze页面
  $(".btn-analyse-data").click(function () {
    var pmid = $(this).val();
    // 构造目标页面的 URL，将 pmid 作为查询参数传递
    var url = "/analyse/?pmid=" + encodeURIComponent(pmid);
    // 执行页面跳转
    window.location.href = url;
  });
</script>
{% endblock %}
