{% extends 'celldb/base.html' %}{% load static %} {% block content %}

<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title mb-4">Liver Data Summary</h3>
        <div
          class="table-responsive"
          style="max-height: 800px; overflow-y: scroll"
        >
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Liter_pmid</th>
                <th>Liter_title</th>
                <th>Liter_abstract</th>
                <th>Liter_publication</th>
                <th>Liter_content</th>
                <th>Liter_data</th>
                <th>Sample_info</th>
                <th>Species</th>
                <th>Tissue</th>
                <th>Number_cells</th>
                <th>Cell_types</th>
                <th>Method</th>
                <th>Markers</th>
                <th>Note</th>
              </tr>
            </thead>
            <tbody>
              {% for item in liter %}
              <tr>
                <td
                  style="cursor: pointer"
                  onclick="redirectToLink('{{ item.Liter_pmid }}')"
                >
                  {{ item.Liter_pmid }}
                </td>
                <td style="cursor: pointer">
                  <a
                    class="d-inline-block text-truncate"
                    style="max-width: 200px"
                    data-toggle="modal"
                    data-target="#literModal"
                    data-abstract="{{ item.Liter_abstract }}"
                    data-title="{{ item.Liter_title }}"
                    title="{{ item.Liter_title }}"
                  >
                    {{ item.Liter_title }}
                  </a>
                </td>
                <td>
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 200px"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{{ item.Liter_abstract }}"
                  >
                    {{ item.Liter_abstract }}
                  </span>
                </td>
                <td class="text-truncate" style="max-width: 200px">
                  {{ item.Liter_publication }}
                </td>
                <td>
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 200px"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{{ item.Liter_content }}"
                  >
                    {{ item.Liter_content }}
                  </span>
                </td>
                <td>
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 200px"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{{ item.Liter_data }}"
                  >
                    {{ item.Liter_data }}
                  </span>
                </td>
                <td>{{ item.Sample_info }}</td>
                <td>{{ item.Species }}</td>
                <td>{{ item.Tissue }}</td>
                <td>{{ item.Number_cells }}</td>
                <td>{{ item.Cell_types }}</td>
                <td>{{ item.Method }}</td>
                <td>
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 200px"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{{ item.Markers }}"
                  >
                    {{ item.Markers }}
                  </span>
                </td>
                <td>{{ item.Note }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 模态框 -->
<div
  class="modal fade"
  id="literModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="literModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="literModalLabel">Literature Details</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- 这里显示详细信息 -->
        <div id="literDetails"></div>
      </div>
    </div>
  </div>
</div>

{% block scripts %}
<script src="{% static 'celldb/js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    $("#literModal").on("show.bs.modal", function (event) {
      var triggerElement = $(event.relatedTarget);
      var title = triggerElement.data("title");
      var abstract = triggerElement.data("abstract");

      var modal = $(this);
      modal.find(".modal-title").text(title);
      modal.find("#literDetails").text(abstract);
    });
  });
</script>
<script>
  function redirectToLink(pmid) {
    var url = "https://pubmed.ncbi.nlm.nih.gov/" + pmid + "/";
    window.location.href = url;
  }
</script>
{% endblock %} {% endblock %}
