{% extends 'celldb/base.html' %} {% load static %} {% block content %}

<div class="row mt-2 justify-content-end">
  <div id="selectorContainer" class="justify-content-end">
    <label for="cellTypeSelect">Select Cell Type:</label>
    <select id="cellTypeSelect" style="width: 100px"></select>
  </div>
</div>
<div class="row mt-2 justify-content-center">
  <div class="card">
    <div id="Scatter" style="width: 1000px; height: 800px"></div>
  </div>
</div>

{% endblock %} {% block customscripts %}
<script src="{% static 'celldb/echarts/echarts.js' %} "></script>
<!-- 绘制散点图 -->
<script>
  var cell_type = [];
  var chartDom = document.getElementById("Scatter");
  var myChart = echarts.init(chartDom);

  // 检查本地是否存在缓存
  const cachedData = localStorage.getItem("cachedDatabalesData");
  if (cachedData) {
    const plotdata = JSON.parse(cachedData);
    processData(plotdata);
  } else {
    fetch("api/tran/all/")
      .then((res) => res.json())
      .then((testString) => {
        // 存储数据到本地缓存
        localStorage.setItem("cachedDatabalesData", JSON.stringify(testString));
        processData(testString);
      });
  }

  // 清洗数据并绘图
  function processData(plotdata) {
    var option;
    // 处理数据
    plotdata = plotdata.map(function (value, index) {
      if (cell_type.indexOf(value.cell_type) === -1) {
        cell_type.push(value.cell_type);
      }
      return [
        parseFloat(value.umap_x).toFixed(2),
        parseFloat(value.umap_y).toFixed(2),
        value.cell_type,
      ];
    });

    // 生成transform_option
    var transform_option = [];
    for (var i = 0; i < cell_type.length; i++) {
      transform_option.push({
        transform: {
          type: "filter",
          config: { dimension: "cell_type", "=": cell_type[i] },
        },
      });
    }

    // 生成多个series
    var series = [];
    for (var i = 0; i < cell_type.length; i++) {
      series.push({
        name: cell_type[i],
        type: "scatter",
        emphasis: {
          focus: "series",
        },
        datasetIndex: i + 1,
        symbolSize: 2,
        encode: {
          x: "x",
          y: "y",
        },
      });
    }
    option = {
      title: {
        text: "UMAP",
        left: "center",
        top: "3%",
      },
      xAxis: {
        name: "UMAP_X",
        nameLocation: "middle",
        nameGap: 25,
        max: 20,
        min: -20,
        nameTextStyle: {
          fontSize: 18,
        },
        axisLine: {
          onZero: false,
        },
        splitLine: { show: false },
      },
      yAxis: {
        name: "UMAP_Y",
        nameLocation: "middle",
        nameGap: 25,
        max: 20,
        min: -20,
        nameTextStyle: {
          fontSize: 18,
        },
        axisLine: {
          onZero: false,
        },
        splitLine: { show: false },
      },
      tooltip: {
        position: "top",
        formatter: function (params) {
          var data = params.data;
          var formattedTooltip =
            "Cell: " + data[2] + "<br>X: " + data[0] + "<br>Y: " + data[1];
          return formattedTooltip;
        },
      },
      grid: {
        left: "5%",
        right: "15%",
        // show: true,
      },

      legend: {
        data: cell_type, // 初始为空数组，用于存储动态生成的图例项
        orient: "vertical",
        right: "5%",
        type: "scroll",
        selected: {
          ...cell_type.reduce((acc, type) => {
            acc[type] = true;
            return acc;
          }, {}),
        },
      },
      dataset: [
        {
          dimensions: ["x", "y", "cell_type"],
          source: plotdata,
        },
        ...transform_option,
      ],
      series: [...series],
    };
    option && myChart.setOption(option);

    // 下拉框
    var cellTypeSelect = document.getElementById("cellTypeSelect");
    ["ALL"].concat(cell_type).forEach(function (type) {
      var option = document.createElement("option");
      option.value = type;
      option.text = type;
      cellTypeSelect.appendChild(option);
    });
  }

  // 监听下拉框事件
  cellTypeSelect.addEventListener("change", function (event) {
    var selectedCellType = event.target.value;
    var legendSelected = {};

    // 更新图例选中状态
    if (selectedCellType === "ALL") {
      cell_type.forEach(function (type) {
        legendSelected[type] = true;
      });
    } else {
      cell_type.forEach(function (type) {
        legendSelected[type] = type === selectedCellType;
      });
    }
    myChart.setOption({
      legend: {
        selected: legendSelected,
      },
    });
  });
</script>
{% endblock %}
