{% extends 'celldb/base.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col">
    <button id="scatterPlot" class="btn btn-primary mb-2 mx-2">
      Plot-UMAP
    </button>
    <button id="linePlot" class="btn btn-primary mb-2 mx-2">
      Plot-Feature
    </button>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-6">
    <img
      id="scatterImg"
      alt="plotR-Scatter"
      class="img-fluid"
      style="display: none"
    />
  </div>
  <div class="col-md-6">
    <img
      id="lineImg"
      alt="plotR-Line"
      class="img-fluid"
      style="display: none"
    />
  </div>
</div>

{% endblock %} {% block customscripts %}
<script>
  $(document).ready(function () {
    // 主函数
    function plotImage(url, imgElementId) {
      fetch(url, {
        headers: {
          "Access-Control-Request-Headers": "Content-Type, Authorization",
        },
      })
        .then((response) => response.blob())
        .then((data) => {
          const imgUrl = URL.createObjectURL(data);
          $(`#${imgElementId}`).attr("src", imgUrl);
          $(`#${imgElementId}`).show();
        });
    }

    //绘制折线图
    $("#linePlot").click(function () {
      $("#lineImg").attr("src", "/media/markerplots-3.png");
      $("#lineImg").show();
    });

    //绘制散点图
    $("#scatterPlot").click(function () {
      plotImage("http://110.41.149.156:8080/img-umap-dimplot", "scatterImg");
    });
  });
</script>

{% endblock %}
