{% extends 'celldb/base.html' %} {% load static %} {% block customstyles%}
<style>
  /* 搜索补全的样式设置 */
  .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 4px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
  }

  .ui-autocomplete .ui-menu-item {
    clear: both;
    width: 100%;
    padding: 3px 20px;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    background-color: #fff;
    cursor: pointer;
  }

  .ui-autocomplete .ui-menu-item:hover {
    background-color: #f0f0f0;
  }
</style>
{% endblock %} {% block content %}
<div class="row">
  <div class="col-md-3">
    <label for="DataSetSelect">Choose Dataset</label>
    <select class="form-select mt-2" id="DataSetSelect" style="width: 10rem">
      <option selected>Default</option>
      {% for dataset_id in dataset_ids %}
      <option value="{{dataset_id}}">{{dataset_id}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-3">
    <label for="cellTypeSelect">Select Cell Type:</label>
    <select
      class="form-select mt-2"
      id="cellTypeSelect"
      style="width: 10rem"
    ></select>
  </div>

  <!-- <label class="mx-2" for="geneSelect">Choose from 10 Gene:</label>
    <select id="geneSelect" style="width: 100px">
      <option value="">Name</option>
      <option value="ENSG00000198727">test</option>
    </select> -->
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <label class="mx-2" for="searchGene">Search Gene:</label>
        <input
          type="text"
          id="searchGene"
          class="form-control mt-2"
          placeholder="Enter Gene name"
        />
      </div>
      <div class="col-md-4">
        <hr />
        <button id="searchButtonGene" class="btn btn-primary">Search</button>
        <!-- <button id="buttPlotR" class="btn btn-primary mx-2">R-plot</button> -->
      </div>
    </div>
  </div>
</div>
<div class="spinner-border" style="display: none" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="row mt-2 justify-content-around">
  <div class="card col-md-7">
    <div id="Scatter" style="width: 800px; height: 600px"></div>
  </div>
  <div class="card col-md-5">
    <img
      id="scatterRImg2"
      alt="plotR-Scatter"
      class="img-fluid"
      style="display: none"
    />
  </div>
</div>
<div class="row">
  <div class="card col-md-6">
    <img
      id="scatterRImg1"
      alt="plotR-Scatter"
      class="img-fluid"
      style="display: none"
    />
  </div>
</div>

{% endblock %} {% block customscripts %}

<script src="{% static 'celldb/echarts/echarts.js' %} "></script>
<script src="{% static 'celldb/js/d3_7.8.5_d3.min.js' %} "></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
  // 绘图
  var chartDom = document.getElementById("Scatter");
  var myChart = echarts.init(chartDom);
  var option;
  var defaultOption;

  var genesList = []; // 基因列表
  var cell_type = []; // 细胞类型表
  function PlotScatter(
    genefile = "/media/hg19/genes.tsv",
    cellfile = "/media/hg19/features.txt"
  ) {
    // 解析genes_features文件
    fetch(genefile, {
      headers: {
        "Accept-Encoding": "gzip, deflate", // 设置支持的压缩方式
      },
    })
      .then((res) => res.text())
      .then((genesData) => {
        // 下拉框
        // var geneSelect = document.getElementById("geneSelect");
        genesList = [];
        genesData.split("\n").forEach(function (line) {
          if (line.trim() !== "") {
            var geneInfo = line.split("\t");
            var gene = {
              id: geneInfo[0],
              name: geneInfo[1],
            };
            genesList.push(gene);
          }
        });
        //genes.slice(0, 10).map(function (gene) {
        //  var option = document.createElement("option");
        //  option.value = gene.id;
        //  option.text = gene.name;
        //  geneSelect.appendChild(option);
        //});
      });

    // 解析cell_features文件并绘图
    fetch(cellfile, {
      headers: {
        "Accept-Encoding": "gzip, deflate", // 设置支持的压缩方式
      },
    })
      .then((res) => res.text())
      .then((featuresData) => {
        var features = []; // 细胞特征列表
        cell_type = []; // 细胞类型
        featuresData = featuresData.split("\n").slice(1).join("\n");
        featuresData.split("\n").forEach(function (line) {
          if (line.trim() !== "") {
            features.push(line.trim().split("\t"));
          }
        });
        var min_x = Infinity;
        var max_x = -Infinity;
        var min_y = Infinity;
        var max_y = -Infinity;
        plotdata = features.map(function (value, index) {
          if (cell_type.indexOf(value[3]) === -1) {
            cell_type.push(value[3]);
          }
          // 判断
          min_x = Math.min(min_x, parseFloat(value[1]).toFixed(2));
          max_x = Math.max(max_x, parseFloat(value[1]).toFixed(2));
          min_y = Math.min(min_y, parseFloat(value[2]).toFixed(2));
          max_y = Math.max(max_y, parseFloat(value[2]).toFixed(2));
          return [
            index + 1,
            value[0],
            parseFloat(value[1]).toFixed(2),
            parseFloat(value[2]).toFixed(2),
            value[3],
          ];
        });
        console.log(plotdata);
        console.log(cell_type);
        // 对cell_type排序
        cell_type.sort();

        // 下拉框
        var cellTypeSelect = document.getElementById("cellTypeSelect");
        ["ALL"].concat(cell_type).forEach(function (type) {
          var option = document.createElement("option");
          option.value = type;
          option.text = type;
          cellTypeSelect.appendChild(option);
        });

        // 生成transform_option
        var transform_option = [];
        for (var i = 0; i < cell_type.length; i++) {
          transform_option.push({
            transform: {
              type: "filter",
              config: { dimension: "cell_type", "=": cell_type[i] },
            },
          });
        }

        // 生成多个series
        var series = [];
        for (var i = 0; i < cell_type.length; i++) {
          series.push({
            name: cell_type[i],
            type: "scatter",
            itemStyle: {
              opacity: 0.9,
              borderColor: "#fff",
              borderWidth: 0.5,
            },
            emphasis: {
              focus: "series",
            },
            legendHoverLink: false,
            datasetIndex: i + 1,
            symbolSize: 3.5,
            encode: {
              x: "x",
              y: "y",
            },
          });
        }

        option = {
          title: {
            text: "UMAP",
            left: "center",
            top: "3%",
          },
          xAxis: {
            name: "UMAP_X",
            nameLocation: "middle",
            nameGap: 25,
            max: max_x + 2,
            min: min_x - 2,
            nameTextStyle: {
              fontSize: 18,
            },
            axisLine: {
              onZero: false,
            },
            splitLine: { show: false },
          },
          yAxis: {
            name: "UMAP_Y",
            nameLocation: "middle",
            nameGap: 25,
            max: max_y + 1,
            min: min_y - 1,
            nameTextStyle: {
              fontSize: 18,
            },
            axisLine: {
              onZero: false,
            },
            splitLine: { show: false },
          },
          legend: {
            data: cell_type, // 初始为空数组，用于存储动态生成的图例项
            orient: "vertical",
            right: "5%",
            type: "scroll",
            selected: {
              ...cell_type.reduce((acc, type) => {
                acc[type] = true;
                return acc;
              }, {}),
            },
          },
          tooltip: {
            position: "top",
            formatter: function (params) {
              var data = params.data;
              var formattedTooltip =
                "Cell: " + data[4] + "<br>X: " + data[2] + "<br>Y: " + data[3];
              return formattedTooltip;
            },
          },
          dataset: [
            {
              dimensions: ["cell_id", "barcode", "x", "y", "cell_type"],
              source: plotdata,
            },
            ...transform_option,
          ],
          series: [...series],
        };
        defaultOption = $.extend(true, {}, option);
        option && myChart.setOption(option);
        $(".spinner-border").hide();
      });
  }

  // 解析barcodes文件
  /*var barcodes = []; // 细胞条码列表
  fetch("/media/hg19/barcodes.tsv", {
    headers: {
      "Accept-Encoding": "gzip, deflate", // 设置支持的压缩方式
    },
  })
    .then((res) => res.text())
    .then((barcodesData) => {
      barcodesData.split("\n").forEach(function (line) {
        if (line.trim() !== "") {
          barcodes.push(line.trim());
        }
      });
    });*/

  plot_dataset = "{{plot_dataset}}";
  if (plot_dataset != "None") {
    $("#DataSetSelect").val(plot_dataset);
    fetch(`/api-v2/list-matrix-file/?dataset_id=${plot_dataset}`)
      .then((res) => res.json())
      .then((data) => {
        console.log(data);
        genesfile = data[0].gene_file;
        cellfile = data[0].cell_file;
        myChart.clear();
        cellTypeSelect.innerHTML = "";
        PlotScatter(genesfile, cellfile);
      })
      .catch((error) => {
        alert("未选择数据集或数据集不存在");
      });
  }
  // 监听数据集选择事件
  $("#DataSetSelect").change(function () {
    dataset_id = $(this).val();
    console.log("你选择了数据集：" + dataset_id);
    if (dataset_id == "Default") {
      return;
    }
    fetch(`/api-v2/list-matrix-file/?dataset_id=${dataset_id}`)
      .then((res) => res.json())
      .then((data) => {
        $(".spinner-border").show();
        console.log(data);
        genesfile = data[0].gene_file;
        cellfile = data[0].cell_file;
        myChart.clear();
        cellTypeSelect.innerHTML = "";
        PlotScatter(genesfile, cellfile);
      })
      .catch((error) => {
        alert("数据集不存在");
      });
  });

  // R绘图
  /*$("#searchButtonGene").on("click", function () {
    //$("#scatterRImg1").attr(
    //  "src",
    //  "http://192.168.83.63:8080/img-umap-dimplot"
    //);
    var selectedGene = $("#searchGene").val();
    console.log("你选择了基因：" + selectedGene);
    $("#scatterRImg2").attr(
      "src",
      `http://192.168.83.63:8080/img-featureplot?features=${selectedGene}`
    );
    // 显示图片
    //$("#scatterRImg1").show();
    $("#scatterRImg2").show();
  });*/
  $("#searchButtonGene").on("click", function () {
    var selectedDataset = $("#DataSetSelect").val();
    if (selectedDataset == "Default") {
      alert("请选择数据集");
      return;
    }
    console.log("你选择了数据集：" + selectedDataset);
    var selectedGene = $("#searchGene").val();
    console.log("你选择了基因：" + selectedGene);
    $("#scatterRImg2").hide();
    //$("#scatterRImg2").attr(
    //  "src",
    //  `http://192.168.83.63:8081/plot?genename=${selectedGene}&dataset_id=${selectedDataset}`
    //);
    //
    //$("#scatterRImg2").show();
    $.ajax({
      url: `http://192.168.83.63:8081/plot?genename=${selectedGene}&dataset_id=${selectedDataset}`,
      method: "GET",
      dataType: "text", // 请求的数据类型为文本
      success: function (data, textStatus, xhr) {
        // 获取响应的Content-Type
        var contentType = xhr.getResponseHeader("Content-Type");
        // 检查Content-Type是否指示了图片
        if (contentType && contentType.startsWith("image/")) {
          // 如果是图片，将响应数据设置为<img>标签的src属性
          $("#scatterRImg2").attr(
            "src",
            `http://192.168.83.63:8081/plot?genename=${selectedGene}&dataset_id=${selectedDataset}`
          );
          $("#scatterRImg2").show();
        } else {
          alert("不存在该基因或该基因表达量为空");
          console.log("返回的数据不是图片");
        }
      },
      error: function (xhr, textStatus, errorThrown) {
        console.error("发生错误：" + errorThrown);
      },
    });
  });

  // 监听基因选择事件
  /*$("#geneSelect").change(function () {
    // 到后端搜寻寻找的基因表达量情况
    var selectedGene = $(this).val();
    console.log("你选择了基因：" + selectedGene);
    fetch(`/api-test/gene-expression/?gene_id=${selectedGene}`, {
      headers: {
        "Accept-Encoding": "gzip, deflate", // 设置支持的压缩方式
      },
    })
      .then((res) => res.text())
      .then((testString) => {
        var expressionData = JSON.parse(testString);
        console.log(expressionData);
        // 判断表达量是否为空，提前终止
        if (expressionData.length === 0) {
          console.log(selectedGene + "在所有细胞中的表达量为空");
          alert(selectedGene + "在所有细胞中的表达量为空\n请重新选择基因：");
          myChart.clear();
          // defaultOption && myChart.setOption(defaultOption);
        } else {
          console.log(selectedGene + "在所有细胞中的表达量不为空");
          // 创建一个集合，存储有表达量的细胞的 cell_id 同时确定最大和最小值
          var expressedCells = new Set();
          var minExpression = Infinity;
          var maxExpression = -Infinity;
          expressionData.forEach(function (expressionInfo) {
            expressedCells.add(expressionInfo.cell_id);
            minExpression = Math.min(expressionInfo.expression, minExpression);
            maxExpression = Math.max(expressionInfo.expression, maxExpression);
          });

          // 创建一个颜色比例尺，映射基因表达量到颜色
          var colorScale = d3
            .scaleLinear()
            .domain([minExpression, maxExpression])
            .range(["#8c0200", "#ff0000"]);

          // 关闭legend
          option.legend.show = false;

          // 修改绘图逻辑，根据基因表达量设置散点颜色
          option.series.forEach(function (series) {
            series.itemStyle.color = function (params) {
              // 获取当前细胞的 cell_id
              const cellId = params.data[0];
              var expression = params.data[4];
              // 判断当前细胞是否表达了该基因
              if (expressedCells.has(cellId.toString())) {
                return colorScale(expression);
              } else {
                return "#8c8c8c"; // 默认的非表达情况下的颜色
              }
            };
            series.symbolSize = function (data) {
              // 获取当前细胞的 cell_id
              const cellId = data[0];
              // 判断当前细胞是否表达了该基因
              if (expressedCells.has(cellId.toString())) {
                return 3.5;
              } else {
                return 3.5;
              }
            };
            option.tooltip.formatter = function (params) {
              var data = params.data;
              // 获取当前细胞的 cell_id
              const cellId = data[0];
              if (expressedCells.has(cellId.toString())) {
                // 获取当前细胞的表达量
                var expressionValue = expressionData.find(
                  (info) => info.cell_id == cellId
                ).expression;
                var formattedTooltip =
                  "Cell: " +
                  data[4] +
                  "<br>X: " +
                  data[2] +
                  "<br>Y: " +
                  data[3] +
                  "<br>Expression Value: " +
                  expressionValue;
                return formattedTooltip;
              }
            };
          });
          // 更新图表
          option && myChart.setOption(option);
        }
      });
  });*/

  // 搜索补全
  $(function () {
    $("#searchGene").autocomplete({
      source: function (request, response) {
        var term = request.term;
        if (term.length < 2) {
          response([]); // 返回一个空数组，表示没有匹配的结果
          return;
        }
        var matcher = new RegExp(
          "^" + $.ui.autocomplete.escapeRegex(request.term),
          "i"
        );
        var matchedResults = $.grep(
          genesList.map(function (gene) {
            return gene.name;
          }),
          function (value) {
            value = value.label || value.value || value;
            return matcher.test(value);
          }
        );
        // 返回最多前200条匹配的结果
        var slicedResults = matchedResults.slice(0, 200);
        // 如果匹配为空，则显示"未匹配到相关基因"
        if (slicedResults.length === 0) {
          slicedResults = ["未匹配到相关基因"];
        }
        var responseResults =
          slicedResults.length < matchedResults.length
            ? [
                ...slicedResults,
                `...${matchedResults.length - slicedResults.length} more...`,
              ]
            : slicedResults;
        response(responseResults);
      },
      open: function (event, ui) {
        // 添加滚动条选项
        var $ul = $(this).autocomplete("widget");
        $ul.css("overflow-y", "auto");
        $ul.css("max-height", "300px"); // 设置最大高度，这里可以根据需要进行调整
      },
    });
  });

  // 监听基因搜索事件
  /*$("#searchButtonGene").on("click", function () {
    var searchGene = $("#searchGene").val();
    // 基因名称和编号对应
    var selectedGene = genes.find((gene) => gene.name === searchGene).id;
    console.log("Search Gene: " + selectedGene);
    fetch(`/api-test/gene-expression/?gene_id=${selectedGene}`, {
      headers: {
        "Accept-Encoding": "gzip, deflate", // 设置支持的压缩方式
      },
    })
      .then((res) => res.text())
      .then((testString) => {
        var expressionData = JSON.parse(testString);
        console.log(expressionData);
        // 判断表达量是否为空，提前终止
        if (expressionData.length === 0) {
          alert(selectedGene + "在所有细胞中的表达量为空\n请重新选择基因：");
          $("#geneSelect").val($("#geneSelect option:first").val());
          myChart.clear();
          // defaultOption && myChart.setOption(defaultOption);
        } else {
          console.log(selectedGene + "在所有细胞中的表达量不为空");
          $("#geneSelect").val($("#geneSelect option:first").val());
          // 创建一个集合，存储有表达量的细胞的 cell_id 同时确定最大和最小值
          var expressedCells = new Set();
          var minExpression = Infinity;
          var maxExpression = -Infinity;
          expressionData.forEach(function (expressionInfo) {
            expressedCells.add(expressionInfo.cell_id);
            minExpression = Math.min(expressionInfo.expression, minExpression);
            maxExpression = Math.max(expressionInfo.expression, maxExpression);
          });

          // 创建一个颜色比例尺，映射基因表达量到颜色
          var colorScale = d3
            .scaleLinear()
            .domain([minExpression, maxExpression])
            .range(["#8c0200", "#ff0000"]);

          // 关闭legend
          option.legend.show = false;

          // 修改绘图逻辑，根据基因表达量设置散点颜色
          option.series.forEach(function (series) {
            series.itemStyle.color = function (params) {
              // 获取当前细胞的 cell_id
              const cellId = params.data[0];
              var expression = params.data[4];
              // 判断当前细胞是否表达了该基因
              if (expressedCells.has(cellId.toString())) {
                return colorScale(expression);
              } else {
                return "#8c8c8c"; // 默认的非表达情况下的颜色
              }
            };
            series.symbolSize = function (data) {
              // 获取当前细胞的 cell_id
              const cellId = data[0];
              // 判断当前细胞是否表达了该基因
              if (expressedCells.has(cellId.toString())) {
                return 3.5;
              } else {
                return 3.5;
              }
            };
            option.tooltip.formatter = function (params) {
              var data = params.data;
              // 获取当前细胞的 cell_id
              const cellId = data[0];
              if (expressedCells.has(cellId.toString())) {
                // 获取当前细胞的表达量
                var expressionValue = expressionData.find(
                  (info) => info.cell_id == cellId
                ).expression;
                var formattedTooltip =
                  "Cell: " +
                  data[4] +
                  "<br>X: " +
                  data[2] +
                  "<br>Y: " +
                  data[3] +
                  "<br>Expression Value: " +
                  expressionValue;
                return formattedTooltip;
              }
            };
          });
          // 更新图表
          option && myChart.setOption(option);
        }
      });
  });*/

  // 监听下拉框事件
  $("#cellTypeSelect").change(function () {
    var selectedCellType = $(this).val();
    console.log("你选择了细胞类型：" + selectedCellType);
    var legendSelected = {};

    // 更新图例选中状态
    if (selectedCellType === "ALL") {
      cell_type.forEach(function (type) {
        legendSelected[type] = true;
      });
    } else {
      cell_type.forEach(function (type) {
        legendSelected[type] = type === selectedCellType;
      });
    }
    myChart.setOption({
      legend: {
        selected: legendSelected,
      },
    });
  });
</script>

{% endblock %}
