{% extends 'celldb/base.html' %} {% load static %} {% block content %}
<div class="row">
  <button id="linePlot" class="btn btn-primary mb-2">Plot-Line</button>
</div>
<div class="row">
  <div id="result"></div>
</div>

{% endblock %} {% block customscripts %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
  integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  document.getElementById("linePlot").addEventListener("click", function () {
    fetch("http://110.41.149.156:8080/line", {
      headers: {
        "Access-Control-Request-Headers": "Content-Type, Authorization",
      },
    })
      .then((response) => response.blob())
      .then((data) => {
        const img = document.createElement("img");
        const imgUrl = URL.createObjectURL(data);
        img.src = imgUrl;
        document.getElementById("result").appendChild(img);
      });
  });
</script>
{% endblock %}
